*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}
:root{
    --mainbackground:#FB839D;
    --second-background:#FDC1CE;
    --last-background:#FEE3E9;
}
body{
    background-color: var(--mainbackground);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(320px + (1440 - 390) * ((100vw - 390px) / (1920 - 390)));
    margin: auto;
    border: 2px solid red;
}
.quiz1{
    display:flex;
    justify-content: center;
    flex-direction: column;
   
}
.pictureQuestion{
    position: relative;
    width:350px
    height: 390px;
    background: white;
    margin: auto;
}
.pictureQuestion img{
    margin: 0.5rem;
    border-radius: 2%;
    width: 95%;
}
.numberQuestion{
    position:absolute ;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 60px;
    width: 80px;
    border-radius: 50%;
    background: #EBE676;
    border: 2px solid black;
}
.centerNumberQuestion{
    position:absolute ;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    width: 65px;
    height: 50px;
    background: white;
}
.centerNumberQuestion p{
    top: -5%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    margin:  auto;
    color: #000;
    font-family: Mochiy Pop One;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.barTimeProgress{
    width: 75%;
    height: 20px;
    margin: 0.5rem auto;
    background: rgb(235, 221, 31);
}
.detailsQuestion{
    background: white;
    width: 70%;
    max-width: 80%;
    height: 60px;
    margin: 0.3rem auto;
}
.quiz button{
    width: 60%;
    max-width: 25rem;
    height: 40px;
    margin: 0.3rem auto ;
}
